%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      %form.sign_in
      = bootstrap_form_tag url: '/login', html: {class: 'sign_in'} do |f|
        %header
          %h1 Login
        %fieldset
          = f.email_field :email, label: "Email Address"
          = f.password_field :password 
          = f.submit "Login", class: 'btn btn-default'