---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15xG2KHHAbUnMwm5wzHYYCYz&email=jabu%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_FQCt8veZeSaSv0dxVZAqMKKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1430394061,
          "id": "cus_69ZARHVy1j4stH",
          "livemode": false,
          "description": null,
          "email": "jabu@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_69ZARHVy1j4stH/subscriptions",
            "data": [
              {
                "id": "sub_69ZA7XIgSNYnVr",
                "plan": {
                  "interval": "month",
                  "name": "base plan",
                  "created": 1430223804,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1430394061,
                "status": "active",
                "customer": "cus_69ZARHVy1j4stH",
                "cancel_at_period_end": false,
                "current_period_start": 1430394061,
                "current_period_end": 1432986061,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_69ZARHVy1j4stH/sources",
            "data": [
              {
                "id": "card_15xG2KHHAbUnMwm5L15iuFBT",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2019,
                "fingerprint": "SuiyRbzExKOVUyWW",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_69ZARHVy1j4stH"
              }
            ]
          },
          "default_source": "card_15xG2KHHAbUnMwm5L15iuFBT"
        }
  recorded_at: Thu, 30 Apr 2015 11:41:01 GMT
recorded_with: VCR 2.9.3
