---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15wQ1VHHAbUnMwm5rdB8qB8t&description=Registration%20Fee%20for%20Jabu%20Dube
    headers:
      Authorization:
      - Bearer sk_test_FQCt8veZeSaSv0dxVZAqMKKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15wQ1VHHAbUnMwm5UVUiXZeI",
          "object": "charge",
          "created": 1430194121,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15wQ1VHHAbUnMwm5wf2NCuK7",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "SuiyRbzExKOVUyWW",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_15wQ1VHHAbUnMwm5Ph8gMvvg",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Registration Fee for Jabu Dube",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15wQ1VHHAbUnMwm5UVUiXZeI/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 28 Apr 2015 04:08:41 GMT
recorded_with: VCR 2.9.3
