---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15xG1vHHAbUnMwm5PFLCnpi2&email=jabu%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_FQCt8veZeSaSv0dxVZAqMKKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 30 Apr 2015 11:40:36 GMT
recorded_with: VCR 2.9.3
