---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15vRwlHHAbUnMwm5DPuw3RcW&description=Registration%20Fee%20for%20Jabu%20Dube
    headers:
      Authorization:
      - Bearer sk_test_FQCt8veZeSaSv0dxVZAqMKKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15vRwlHHAbUnMwm5t1S0GLLt"
          }
        }
  recorded_at: Sat, 25 Apr 2015 11:59:47 GMT
recorded_with: VCR 2.9.3
