---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15wZ8OHHAbUnMwm5uh4a4uq5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_FQCt8veZeSaSv0dxVZAqMKKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15wZ8OHHAbUnMwm5uh4a4uq5",
          "created": 1430229144,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15wZ8NHHAbUnMwm5bwh5JLVi",
              "object": "charge",
              "created": 1430229143,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15wZ8NHHAbUnMwm5WJrLlSrW",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2019,
                "fingerprint": "SuiyRbzExKOVUyWW",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_68qqodmxakznOC"
              },
              "captured": true,
              "balance_transaction": "txn_15wZ8OHHAbUnMwm5Mm9ucp4A",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_68qqodmxakznOC",
              "invoice": "in_15wZ8NHHAbUnMwm5T8B8Zr8Z",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15wZ8NHHAbUnMwm5bwh5JLVi/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_68qqb9jzzHpoXk",
          "api_version": "2015-04-07"
        }
  recorded_at: Thu, 30 Apr 2015 12:21:31 GMT
recorded_with: VCR 2.9.3
