---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_FQCt8veZeSaSv0dxVZAqMKKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15wQ1rHHAbUnMwm53MQImmlR",
          "livemode": false,
          "created": 1430194143,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15wQ1rHHAbUnMwm5Kw8IsaVH",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2020,
            "fingerprint": "SuiyRbzExKOVUyWW",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "99.3.105.83"
        }
  recorded_at: Tue, 28 Apr 2015 04:09:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15wQ1rHHAbUnMwm53MQImmlR&description=valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_FQCt8veZeSaSv0dxVZAqMKKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15wQ1rHHAbUnMwm5Jxs8CZ0w",
          "object": "charge",
          "created": 1430194143,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15wQ1rHHAbUnMwm5Kw8IsaVH",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2020,
            "fingerprint": "SuiyRbzExKOVUyWW",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_15wQ1rHHAbUnMwm5ZT1yN45K",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "valid charge",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15wQ1rHHAbUnMwm5Jxs8CZ0w/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 28 Apr 2015 04:09:03 GMT
recorded_with: VCR 2.9.3
