---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_FQCt8veZeSaSv0dxVZAqMKKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15xGRuHHAbUnMwm5tcDXNmcC",
          "livemode": false,
          "created": 1430395646,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15xGRuHHAbUnMwm50YQk7zRn",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2020,
            "fingerprint": "SuiyRbzExKOVUyWW",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "99.3.105.83"
        }
  recorded_at: Thu, 30 Apr 2015 12:07:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15xGRuHHAbUnMwm5tcDXNmcC&email=florida%40leffler.info&plan=base
    headers:
      Authorization:
      - Bearer sk_test_FQCt8veZeSaSv0dxVZAqMKKy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1430395646,
          "id": "cus_69ZbLiat973AG4",
          "livemode": false,
          "description": null,
          "email": "florida@leffler.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_69ZbLiat973AG4/subscriptions",
            "data": [
              {
                "id": "sub_69Zb5j2aErul05",
                "plan": {
                  "interval": "month",
                  "name": "base plan",
                  "created": 1430223804,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1430395646,
                "status": "active",
                "customer": "cus_69ZbLiat973AG4",
                "cancel_at_period_end": false,
                "current_period_start": 1430395646,
                "current_period_end": 1432987646,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_69ZbLiat973AG4/sources",
            "data": [
              {
                "id": "card_15xGRuHHAbUnMwm50YQk7zRn",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2020,
                "fingerprint": "SuiyRbzExKOVUyWW",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_69ZbLiat973AG4"
              }
            ]
          },
          "default_source": "card_15xGRuHHAbUnMwm50YQk7zRn"
        }
  recorded_at: Thu, 30 Apr 2015 12:07:26 GMT
recorded_with: VCR 2.9.3
